.formstyle{
    display:inline-block;
     border:2px solid black;
     background-color:rgb(233, 245, 247);
     text-align:left;
     padding: 50px 50px 50px 50px;
     margin-left:520px;
   }
   input{
     font-size: 16px;
     color:rgb(3, 28, 29);
   }
   .button {
    display: inline-block;
    height: 40px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    color:white;
    padding: 12px 24px;
    border: 1px solid rgb(18, 24, 3);
    border-radius: 5px;
    background:rgb(2, 41, 48);
    text-decoration: none;
  }
  h1{
      text-align: center;
      color:rgb(4, 47, 53);
  }