<h1>Login Form</h1>

<form [formGroup]="loginForm" class="formstyle" novalidate>
        
    <label for="uname"><b>Username</b></label><br>
    <input type="text" placeholder="Enter Username" formControlName="name" required ><br><br>

    <label for="psw"><b>Password</b></label><br>
    <input type="password" placeholder="Enter Password" formControlName="password" required><br><br><br>
    <div style="text-align: center">
    <button class="button" type="submit"  (click)="onSubmit(loginForm.value)">Login</button><br><br>
   </div>
 
</form>